
.custom-scrollbar {
  background-color: #7F669D;
  padding: 100px 100px 500px 100px;
  color: white;
  overflow: auto;
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 20px;
  background-color: #BA94D1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #DEBACE;
  height: 10%;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ff008c;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #FBFACD;
}

.custom-scrollbar-title {
  font-size: 64px;
}

.custom-scrollbar-content {
  font-size: 16px;
}